{% extends "adminpanel/base.html" %}
{% load static %}

{% block css %}
    <!-- Sweet Alert-->
    <link href="{% static 'adminpanel/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Список клиентов</h4>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0" id="clientTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Телефон</th>
                                <th>Email</th>
                                <th>Действия</th> <!-- Добавлен столбец для кнопок -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ client.first_name }}</td>
                                    <td>{{ client.last_name }}</td>
                                    <td>{{ client.phone_number }}</td>
                                    <td>{{ client.email }}</td>
                                    <td>
                                        <a href="javascript:void(0);" class="action-icon" onclick="toggleEditMode(this)">
                                            <i class="mdi mdi-square-edit-outline"></i>
                                        </a>
                                        <a href="{% url 'delete_client' client.id %}" class="action-icon">
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Добавить клиента</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<!-- Sweet Alerts js -->
<script src="{% static 'adminpanel/libs/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'adminpanel/js/tabledit.init.js' %}"></script>
{% endblock %}
