{% extends "adminpanel/base.html" %}
{% load static %}

{% block css %}
    <!-- Sweet Alert -->
    <link href="{% static 'adminpanel/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Список стран</h4>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0" id="countryTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Название страны</th>
                                <th class="tabledit-toolbar-column"></th>
                            </tr>
                        </thead>
                    
                        <tbody>
                            <!-- Здесь будут отображаться страны -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Добавить страну</h4>
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Название страны" id="new_country_name">
                        <button class="btn input-group-text btn-secondary waves-effect waves-light" type="button" onclick="addCountry()">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <!-- Sweet Alerts js -->
    <script src="{% static 'adminpanel/libs/sweetalert2/sweetalert2.all.min.js' %}"></script>
    
    <!-- Your additional scripts here -->
    <script src="{% static 'adminpanel/js/tabledit.init.js' %}"></script>

    <script>
        function loadCountries() {
            // Очищаем таблицу перед загрузкой новых данных
            $('#countryTable tbody').empty();

            // Выполняем GET запрос к API
            $.ajax({
                url: '/api/country/', // Адрес вашего API
                type: 'GET',
                success: function(response) {
                    // При успешном запросе добавляем данные в таблицу
                    response.forEach(function(country) {
                        var row = '<tr>' +
                                      '<td>' + country.id + '</td>' +
                                      '<td>' +
                                          '<span class="tabledit-span">' + country.name + '</span>' +
                                          '<input class="tabledit-input form-control form-control-sm" type="text" name="col1" value="' + country.name + '" style="display: none;">' +
                                      '</td>' +
                                      '<td>' +
                                          '<a href="javascript:void(0);" class="action-icon" onclick="toggleEditMode(this)"> <i class="mdi mdi-square-edit-outline"></i></a>' +
                                          '<a href="javascript:void(0);" class="action-icon" onclick="deleteRow(this)"> <i class="mdi mdi-delete"></i></a>' +
                                      '</td>' +
                                  '</tr>';
                        $('#countryTable tbody').append(row);
                    });
                },
                error: function(xhr, status, error) {
                    // В случае ошибки выводим сообщение
                    console.error('Error loading countries:', error);
                }
            });
        }

        // Вызываем функцию для загрузки данных при загрузке страницы
        $(document).ready(function() {
            loadCountries();
        });

        function addCountry() {
            // Получаем значение из поля ввода
            var countryName = document.getElementById('new_country_name').value.trim();
            
            // Проверяем, не пустое ли значение
            if (countryName === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Пустое название страны',
                    text: 'Пожалуйста, введите название страны.',
                    confirmButtonText: 'OK'
                });
                return; // Выходим из функции, чтобы не добавлять пустую строку
            }

            // Проверяем, не является ли новая страна дубликатом
            var table = document.getElementById("countryTable").getElementsByTagName('tbody')[0];
            var rows = table.getElementsByTagName('tr');
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var cells = row.getElementsByTagName('td');
                var existingCountry = cells[1].getElementsByTagName('span')[0].innerText.trim();
                if (existingCountry === countryName) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Дублирующееся название страны',
                        text: 'Такая страна уже существует в таблице.',
                        confirmButtonText: 'OK'
                    });
                    return; // Выходим из функции, чтобы не добавлять дублирующуюся страну
                }
            }

            // Отправляем AJAX-запрос для добавления записи
            $.ajax({
                url: '/api/country/', // Исправленный адрес API
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ name: countryName }), // Отправляем данные в формате JSON
                success: function(response) {
                    // Если успешно добавлено, обновляем таблицу
                    var row = table.insertRow(-1);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    cell1.style.width = "10%";
                    cell3.style.width = "20%";
                    cell1.innerHTML = "<span class='tabledit-span tabledit-identifier'>" + response.id + "</span>";
                    cell2.innerHTML = "<span class='tabledit-span'>" + response.name + "</span><input class='tabledit-input form-control form-control-sm' type='text' name='col1' value='" + response.name + "' style='display: none;'>";
                    cell3.innerHTML = `
                    <a href="javascript:void(0);" class="action-icon" onclick="toggleEditMode(this)"> <i class="mdi mdi-square-edit-outline"></i></a>
                    <a href="javascript:void(0);" class="action-icon" onclick="deleteRow(this)"> <i class="mdi mdi-delete"></i></a>
                    `;
                    // Очищаем поле ввода
                    document.getElementById('new_country_name').value = "";
                },
                error: function(xhr, status, error) {
                    // Если произошла ошибка, показываем сообщение об ошибке
                    Swal.fire({
                        icon: 'error',
                        title: 'Ошибка',
                        text: 'Произошла ошибка при добавлении страны.',
                        confirmButtonText: 'OK'
                    });
                }
            });
        }

        function deleteRow(btn) {
            // Отображаем всплывающее окно с предупреждением
            Swal.fire({
                title: 'Вы уверены?',
                html: 'Вы действительно хотите удалить строку <br><strong>"' + btn.closest('tr').cells[1].innerText + '"</strong>?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Да, удалить',
                cancelButtonText: 'Отмена'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Если пользователь подтвердил удаление, удаляем строку
                    var row = btn.closest('tr');
                    var id = row.cells[0].innerText; // Получаем id страны
                    row.parentNode.removeChild(row);

                    // Выполняем DELETE запрос к API для удаления записи из базы данных
                    $.ajax({
                        url: '/api/country/' + id + '/', // Адрес вашего API с id записи для удаления
                        type: 'DELETE',
                        success: function(response) {
                            Swal.fire(
                                'Удалено!',
                                'Строка успешно удалена.',
                                'success'
                            );
                        },
                        error: function(xhr, status, error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Ошибка',
                                text: 'Произошла ошибка при удалении страны.',
                                confirmButtonText: 'OK'
                            });
                        }
                    });
                }
            });
        }

        function toggleEditMode(btn) {
            var row = btn.closest('tr');
            var cells = row.getElementsByTagName('td');

            // Проверяем, если в режиме редактирования пустое название страны
            var input = cells[1].getElementsByClassName('tabledit-input')[0];
            var countryName = input.value.trim();
            if (countryName === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Пустое название страны',
                    text: 'Пожалуйста, введите название страны.',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    // При нажатии на кнопку "OK" установим текущее значение span в input
                    if (result.isConfirmed) {
                        var span = cells[1].getElementsByClassName('tabledit-span')[0];
                        input.value = span.textContent;
                    }
                });
                return; // Выходим из функции, чтобы не обновлять строку с пустым значением
            }

            // Проверяем, если название страны дублируется в таблице
            var table = document.getElementById("countryTable").getElementsByTagName('tbody')[0];
            var rows = table.getElementsByTagName('tr');
            for (var i = 0; i < rows.length; i++) {
                var otherRow = rows[i];
                if (otherRow !== row) {
                    var otherCells = otherRow.getElementsByTagName('td');
                    var existingCountry = otherCells[1].getElementsByClassName('tabledit-span')[0].innerText.trim();
                    if (existingCountry === countryName) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Дублирующееся название страны',
                            text: 'Такая страна уже существует в таблице.',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            // При нажатии на кнопку "OK" установим текущее значение span в input
                            if (result.isConfirmed) {
                                var span = cells[1].getElementsByClassName('tabledit-span')[0];
                                input.value = span.textContent;
                            }
                        });
                        return; // Выходим из функции, чтобы не обновлять строку с дублирующимся значением
                    }
                }
            }

            // Проверяем, изменилось ли значение input
            var span = cells[1].getElementsByClassName('tabledit-span')[0];
            if (input.value !== span.textContent) {
                // Отправляем PUT запрос для обновления страны
                var countryId = row.cells[0].innerText;
                $.ajax({
                    url: '/api/country/' + countryId + '/', // Адрес вашего API с id страны
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({ name: input.value }), // Отправляем новое название в формате JSON
                    success: function(response) {
                        console.log('Страна успешно обновлена');
                    },
                    error: function(xhr, status, error) {
                        console.error('Произошла ошибка при обновлении страны:', error);
                    }
                });
            }

            // Проходим по всем ячейкам строки и переключаем режим редактирования/просмотра
            for (var i = 0; i < cells.length; i++) {
                var span = cells[i].getElementsByClassName('tabledit-span')[0];
                var input = cells[i].getElementsByClassName('tabledit-input')[0];
                if (span && input) {
                    if (span.style.display === 'none') {
                        // Переключаемся в режим редактирования
                        span.style.display = '';
                        input.style.display = 'none';
                        // Присваиваем текст из поля ввода элементу span
                        span.textContent = input.value;
                    } else {
                        // Переключаемся в режим просмотра
                        span.style.display = 'none';
                        input.style.display = '';
                        // Присваиваем значение из span обратно в поле ввода
                        input.value = span.textContent;
                    }
                }
            }
        }
    </script>
{% endblock %}
